%section
  .head.level
    .level-left
      %h2= "Edit External Apprenticeship"

  %hr

  .opportunity_form
    = simple_form_for @external_apprenticeship, url: advisor_external_apprenticeship_path, local: true, method: :put do |f|
      = render partial: 'advisor/opportunities/shared_form_fields', locals: {f: f}
      = render partial: 'shared_fields', locals: {f: f}
      = f.submit "Update external apprenticeship", :class => 'button is-primary tablet_cta'
