%section
  .head.level
    .level-left
      %h2= external_apprenticeship.title
    .level-right
      =link_to "Back to all opportunities", advisor_opportunities_path, class: 'button pull-right top_right_button'
  %hr

  .box
    = render partial: 'shared/opportunities/common_job_details', locals: { opportunity: external_apprenticeship }

  .box
    = external_apprenticeship.long_description

  .box
    %h2 Enquiries for this opportunity
    - if external_apprenticeship.enquiries.count > 0
      %table
        %tr
          %th
            Client
          %th
            Applied on
          %th
            Status
        - external_apprenticeship.enquiries.each do |enquiry|
          %tr
            %td
              = enquiry.client.first_name
              = enquiry.client.last_name
            %td
              = enquiry.created_at.strftime("%e %B %Y")
            %td
              = enquiry.status
    - else
      %p No enquires have been made on this apprenticeship yet
