= render 'shared/form_errors', object: form.object
%fieldset
  = form.input :title, label: "Agreed Task (max 70 characters)", :input_html => { :class => "input", :maxlength => 70 }

  = form.input :notes, as: :text, label: "Task Notes", :input_html => { :class => "textarea" }
  .convert_radio
    = form.input :advisor_id, as: :radio_buttons, label: "Task to be completed by:", collection: [['Client', ''], ['Advisor', current_advisor.id]]

  = form.input :client_id, as: :hidden
  = form.input :due_date, as: :string, input_html: {type: :date, :class => 'input', :value => form.object.try(:due_date).try(:to_date)}, placeholder: "dd/mm/yyyy"
