%h2
  ="#{client.name}'s Action Plan"

- client.decorate_action_plan_tasks.each do |task|
  %section.section
    = task.decorate_title
    = task.decorate_due_date
    = task.decorate_notes
    = task.decorate_action_completed_by

  %hr
