%p Hello #{@user_login.name},

- if @user.referrer
  %p
    You have been referred to Hackney Works by #{@user.referrer.name} from #{OrganisationOption.display(@user.referrer.organisation)}.
    Your personal advisor will be in touch within two 2 working days to arrange a meeting at one of our hubs.
- else
  %p Thank you for registering with our service! Your personal advisor will be in touch within two 2 working days to arrange a meeting at one of our hubs.

%p
  Use the link below to create an account and start building your profile. You don’t have to do this but it helps our advisors to prepare for your meeting.

%p= link_to 'Get Started', @url

%p
  For information about local jobs, training opportunities and more, you can sign up to our
  = link_to 'Hackney Jobs newsletter here', 'https://public.govdelivery.com/accounts/UKHACKNEYCOUNCIL/subscribers/qualify?email=' + @user_login.email
  \.

Thanks,
The Hackney Works Team

%p If you didn't request this, please ignore this email.

= render partial: 'shared/client_email_signature'
