.column.is-12.has-text-centered
  = render partial: 'shared/profile_steps'

.column.reg-flow
  =image_tag('icons/monitoring.svg', :alt => 'Monitoring Icon')
  %h2.subtitle=I18n.t('clients.steps.additional_information.long')

  = simple_form_for [current_client], url: :client_additional_information do |form|
    = render 'shared/form_errors', object: form.object

    .convert_radio
      =form.input :gender, as: :radio_buttons, collection: ['Male', 'Female'], :label => 'What is your gender?'
      .convert_checkbox.additional= render partial: 'shared/other_text', locals: {form: form, field: :other_gender}

    .convert_radio
      =form.input :bame, as: :radio_buttons, collection: BameOption.all, label: 'What is your ethnicity?', include_hidden: false
      .convert_checkbox.additional= render partial: 'shared/other_text', locals: { form: form, field: :other_bame }

    =form.input :date_of_birth, as: :string, input_html: {type: :date, :class => 'input'}, placeholder: "dd/mm/yyyy", label: 'What is your date of birth?'

    .actions
      = form.submit 'Complete Profile', :class => 'button is-primary is-pulled-right'
      = form.submit I18n.t('clients.buttons.onboarding_skip'), :class => 'button'
