.column.is-12.has-text-centered
  = render partial: 'shared/profile_steps'

.column.is-10.is-offset-1
  %h2.subtitle=I18n.t('clients.steps.additional_information.long')

  = simple_form_for [current_client], url: :client_additional_information do |form|
    = render 'shared/form_errors', object: form.object

    = render partial: '/advisor/clients/tab_additional', locals: {form: form}

    .actions
      = form.submit 'Next Step', :class => 'button is-primary is-pulled-right'
      = form.submit 'Save and Exit', :class => 'button'
