.full-width.hero
  .container.columns.main
    .column.is-half.is-offset-one-quarter
      =image_tag('hackney-works-white.svg', :alt => 'Hackney Works')
      %h1
        = t('hackney_works.hero.title')
      %p
        = t('hackney_works.hero.info')
      = link_to I18n.t('devise.buttons.register'), new_client_path, title: "Register for the Hackney Works service", class: 'button is-primary is-large'
  .content
    .container.columns
      .column.is-half.is-offset-one-quarter
        = t('hackney_works.hero.extra')

.container.points
  %h2
    = t('hackney_works.points.title')
  .columns
    .column.point
      .img-container
        =image_tag('icons/calendar.svg', :alt => 'Calendar icon')
      %p
        = t('hackney_works.points.point_a')
    .column.point
      .img-container
        =image_tag('icons/signs.svg', :alt => 'Signs icon')
      %p 
        = t('hackney_works.points.point_b')
    .column.point
      .img-container
        =image_tag('icons/network.svg', :alt => 'Network icon')
      %p 
        = t('hackney_works.points.point_c')
    .column.point
      .img-container
        =image_tag('icons/education.svg', :alt => 'Education icon')
      %p
        = t('hackney_works.points.point_d')
    .column.point
      .img-container
        =image_tag('icons/share.svg', :alt => 'Share icon')
      %p
        = t('hackney_works.points.point_e')
  = link_to "Meet the team", hubs_path, class: 'button'

.full-width.info.dark
  .container.columns
    .column.is-half.is-offset-one-quarter
      %h2
        = t('hackney_works.testimonials.title')

.full-width.columns.testimonials
  .column
    %p
      = t('hackney_works.testimonials.testimonial_a')
  .column
    %p
      = t('hackney_works.testimonials.testimonial_b')
  .column
    %p
      = t('hackney_works.testimonials.testimonial_c')

  -#%p= link_to "Meet the team", hubs_path
  -# - unless user_login_signed_in?
    -# = link_to I18n.t('devise.buttons.register'), new_client_path, title: "Register for the Ways into Work service", class: 'button is-primary'

