.column
  .head.level
    .level-left
      %h2="#{client.first_name}'s Achievements"

  = render partial: 'shared/upper_tabs', locals: {the_client: client}
  .profile-tab
    .column
      %label.label
        = I18n.t('advisors.achievement.achieved')
      
      .achievement-container.achieved
        - client.achievements.all.group_by(&:name).each do |id, achievable|
          .achievement.box
            %h4=achievement_title id, achievements.count
            .div.icon-center
              = achievement_icon id
            %p.small <strong>Complete: </strong> #{achievements.last.created_at.to_date.to_s(:long)}
            %p.small=achievement_description id, achievements.count
    
    .column
      %label.label
        = I18n.t('advisors.achievement.achievable')
      = render partial: 'achievable', collection: AchievementOption.all, as: :option
          
