#tabs.container
  .column
    .head.level
      %h3 Dashboard
    
    = form_tag nil, method: :get do
      .tile.is-ancestor
        .tile.is-vertical.is-parent.is-12
          .tile.is-child.box
            .columns.is-multiline
              .column
                %label.label Month / Quarter
                %span.select.is-fullwidth
                  = select_tag(:month, grouped_options_for_select(@months, @month))

              .column
                %label.label Year
                %span.select.is-fullwidth
                  = select_tag(:year, options_for_select(@years, @year))
                  
            .columns.is-vertical
              .column
                %label.label Hub
                %span.select.is-fullwidth
                  = select_tag(:hub, options_for_select(@hubs, @options[:hub]), { include_blank: '- All -', id: 'dashboard_hubs' })

              .column
                %label.label Advisor
                %span.select.is-fullwidth
                  = select_tag(:advisor, options_for_select(@advisors, @options[:advisor]), { include_blank: '- All -' })

              .column
                %label.label Funding Code
                %span.select.is-fullwidth
                  = select_tag(:funding_code, options_for_select(@funding_codes, @options[:funding_code]), { include_blank: '- All -' })
              
              .column
                %label.label Equalities
                %span.select.is-fullwidth
                  = select_tag(:equalities, options_for_select(@equalities, @options[:equalities]), { include_blank: '- All -' })
  
            = submit_tag 'Submit', class: 'button is-fullwidth is-primary'
        
  
    .tile.is-ancestor
      .columns.is-multiline
        = render partial: 'stat', locals: { stat: @stats.registered, title: 'Clients Registered' }
        - OutcomeOption.all.each do |outcome|
          = render partial: 'stat', locals: { stat: @stats.with_outcome(outcome.id), title: t("stats.titles.#{outcome.id}") }

    %p
      = link_to 'Download as CSV', params.permit(:hub, :advisor, :funding_code, :month, :year).merge({ format: :csv }), { class: 'button' }
