.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle="Your Profile"
    %hr

    -if current_client.name.present?
      %p
        %label.label Full Name:
        ="#{current_client.name}"

    -if current_client.email.present?
      %p
        %label.label Email account:
        ="#{current_client.email}"

    -if current_client.phone.present?
      %p
        %label.label Phone number:
        ="#{current_client.phone}"

    -if current_client.address_to_s.present?
      %p
        %label.label Address:
        ="#{current_client.address_to_s}"

    -if current_client.personal_traits.present?
      %p
        %label.label Your strengths:
        ="#{PersonalTraitOption.display(current_client.personal_traits)}"

    -if current_client.other_personal_trait.present?
      %p
        %label.label Other:
        ="#{current_client.other_personal_trait}"

    -if current_client.objectives.present?
      %p
        %label.label Your objectives:
        ="#{ObjectiveOption.display(current_client.objectives)}"

    -if current_client.other_objective.present?
      %p
        %label.label Other:
        ="#{current_client.other_objective}"

    -if current_client.studying == false
      %p
        %label.label Currently studying:
        ="No"

    -if current_client.current_education.present?
      %p
        %label.label Current education course title:
        ="#{current_client.current_education}"

    -if current_client.past_education.present?
      %p
        %label.label Past education:
        ="#{current_client.past_education}"

    %p
      %label.label Currently employed:
      ="#{current_client.employed ? 'Yes' : 'No'}"

    -if current_client.job_title.present?
      %p
        %label.label Job title:
        ="#{current_client.job_title}"

    -if current_client.working_hours_per_week.present?
      %p
        %label.label Hours per week:
        ="#{current_client.working_hours_per_week}"

    -if current_client.time_since_last_job.present?
      %p
        %label.label Months since last job:
        ="#{current_client.time_since_last_job}"

    / t.datetime "date_of_birth"


    = link_to I18n.t('clients.buttons.edit_profile'), edit_client_personal_traits_path, :class => "step button is-primary"

