.columns
  = simple_form_for client.object, url: advisor_client_path(client_id: client.id) do |form|
    .column
      - if current_advisor.can_assign?
        = render 'shared/form_errors', object: form.object
        .select
          = form.input :advisor_id, as: :select, collection: Advisor.all, include_blank: false, label: false
        = form.submit I18n.t('clients.buttons.assign_advisor'), class: "step button is-primary"
      - elsif current_advisor.can_assign_to_me?(client)
        = form.input :advisor_id, as: :hidden, input_html: { value: current_advisor.id }
        = form.submit I18n.t('clients.buttons.assign_to_me'), class: "step button is-primary"
