#filterrific_results.clients
  = render_filterrific_spinner
  -if clients.any?
    %br
    = paginate clients # provided by kaminari
    %br
    %br
    %table.table
      %thead
        %tr
          %th
            = filterrific_sorting_link(@filterrific, 'first_name', label: 'Client')
          %th Last Meeting / Contact
          %th
            = filterrific_sorting_link(@filterrific, 'advisor')
          %th
            = filterrific_sorting_link(@filterrific, 'rag_status')
          %th Enquiries
          %th
      %tbody
        = render partial: 'client', collection: clients

    = paginate clients # provided by kaminari
  -else
    %p.bold No clients were found within that filter criteria use the reset filter button to start again
