%h3
  = t('client.tab_a.tab_5b')

= form.input :studying, as: :radio_buttons, collection: [['Yes', true], ['No', false]], label: 'Are you currently studying?',  wrapper_html: { class: "convert_radio has_child" }

.is-hidden.on-true
  = form.input :studying_part_time, as: :radio_buttons, collection: [['Part time', true], ['Full time', false]], label: 'Full or part time?',  wrapper_html: { class: "convert_radio" }

  =form.input :current_education, as: :string, :label => 'What is the name of your course?', :input_html => { :class => 'input' }


%br


=form.input :employed, as: :radio_buttons, :label => 'Are you currently employed?', wrapper_html: { class: "convert_radio has_child has_child_2" }

.is-hidden.on-true_2
  =form.input :job_title, as: :string, :label => 'What is your current job title?', :input_html => { :class => 'input' }
  =form.input :working_hours_per_week, as: :integer, :label => 'How many hours per week do you currently work?', :input_html => { :class => 'input' }

%br

= render partial: 'assessment_note', locals: {form: form, note: @work_experience_notes, label: 'Additional information about work or education experience:', type: :text }

.convert_checkbox
  =form.input :training_courses, as: :check_boxes, collection: TrainingCourseOption.all, :label => 'Have you completed any of the following training courses?', include_hidden: false
  = render partial: 'shared/other_text', locals: {form: form, field: :other_training_course}
%br

= render partial: '/shared/latest_file_upload'
