%h3
  = t('client.tab_a.tab_4')

.convert_checkbox.field
  =form.input :objectives, as: :check_boxes, collection: ObjectiveOption.all, :label => 'What would you like to discuss with us?', include_hidden: false

  = render partial: 'shared/other_text', locals: { form: form, field: :other_objective }

.convert_checkbox.field
  =form.input :support_priorities, as: :check_boxes, collection: SupportOption.all, :label => 'What would you like support with?', include_hidden: false

  = render partial: 'shared/other_text', locals: { form: form, field: :other_support_priority }


.convert_checkbox.field
  = render partial: 'assessment_note', locals: {form: form, note: @support_notes, label: 'Additional notes', type: :text }


.convert_checkbox
  =form.input :barriers, as: :check_boxes, collection: BarrierOption.all, :label => 'Do you have any barriers to overcome?', include_hidden: false

%br

= render partial: 'assessment_note', locals: {form: form, note: @barriers_notes, label: 'Additional notes', type: :text }


=form.input :receive_benefits, as: :radio_buttons, :label => 'Do you receive any work related benefits?', wrapper_html: { class: "convert_radio" }
