%h3
  = t('client.tab_a.tab_3')

// @pezholio

// NEW checkbox selector - 'What are you looking for?'
// (multiple choices - Full time work, Part time work, Training or qualifications, Apprenticeship, Work experience, Volunteering, Other)

// NEW TEXTAERA - 'Additional info:'

.convert_checkbox.field
  =form.input :types_of_work, as: :check_boxes, collection: TypeOfWorkOption.all, :label => 'What types of work are you looking for?', include_hidden: false

  = render partial: 'shared/other_text', locals: { form: form, field: :other_type_of_work }

.convert_checkbox.field
  = render partial: 'assessment_note', locals: {form: form, note: @job_goal_1_notes, label: 'Job Goal 1', type: :string }

.convert_checkbox.field
  = render partial: 'assessment_note', locals: {form: form, note: @job_goal_2_notes, label: 'Job Goal 2', type: :string }

= render partial: 'assessment_note', locals: {form: form, note: @aspirations_notes, label: 'More detail, e.g. short and long term goals', type: :text }
