%h3 Aspirations

= form.simple_fields_for :assessment_notes, @aspirations_notes  do |notes_form|
  =notes_form.input :content, label: 'What are your Aspirations?', :input_html => { :class => "textarea" }


= form.simple_fields_for :assessment_notes, @driving_force_notes  do |notes_form|
  =notes_form.input :content, label: 'What is driving you?', :input_html => { :class => "textarea" }


= form.simple_fields_for :assessment_notes, @barriers_notes  do |notes_form|
  =notes_form.input :content, label: 'What are your barriers?', :input_html => { :class => "textarea" }


= form.simple_fields_for :assessment_notes, @job_goal_1_notes  do |notes_form|
  =notes_form.input :content, label: 'Job Goal 1', :input_html => { :class => "textarea" }


= form.simple_fields_for :assessment_notes, @job_goal_2_notes  do |notes_form|
  =notes_form.input :content, label: 'Job Goal 2', :input_html => { :class => "textarea" }

