%h3
  = t('client.tab_a.tab_4')

.convert_checkbox.field
  =form.input :health_barriers, as: :check_boxes, collection: HealthBarrierOption.all, :label => 'Please select the option that best describes your health condition or learning difficulty (For supported employment clients only):', include_hidden: false

  = render partial: 'shared/other_text', locals: { form: form, field: :other_support_priority }

= render partial: 'shared/assessment_note', locals: {form: form, note: @health_barriers_notes, label: 'Additional notes', type: :text }

.convert_checkbox
  =form.input :barriers, as: :check_boxes, collection: BarrierOption.all, :label => 'Do you need support with any of the following?', include_hidden: false

%br

= render partial: 'shared/assessment_note', locals: {form: form, note: @barriers_notes, label: 'Additional notes', type: :text }



.convert_checkbox.field
  =form.input :receive_benefits, as: :radio_buttons, collection: BenefitsOption.all, :label => 'Which work related benefits do you recieve?', wrapper_html: { class: "convert_radio" }
  = render partial: 'shared/other_text', locals: { form: form, field: :other_receive_benefits }

=form.input :affected_by_benefit_cap, as: :radio_buttons, :label => 'Are you affected by the benefit cap?', wrapper_html: { class: "convert_radio" }

=form.input :welfare_calculation_completed, as: :radio_buttons, :label => 'Better Off Calculation completed?', wrapper_html: { class: "convert_radio" }

=form.input :welfare_calculation_notes, as: :text, :label => 'Notes on Better Off Calculation', input_html: { class: 'textarea' }, wrapper_html: { class: (form.object.welfare_calculation_notes.blank? ? 'is-hidden' : ''), id: 'boc-wrapper' }
