#tabs
  = simple_form_for [@client], url: advisor_client_path(@client), method: :put do |form|

    %p This should should be used to record details when meeting your client

    = render 'shared/form_errors', object: form.object

    = form.submit 'Save and Exit', :class => 'button is-primary'

    .column.is-12.tabs.is-centered
      %ul
        %li
          %a{href: "#tabs-1"}
            %span Strengths
        %li
          %a{href: "#tabs-2"}
            %span Aspirations
        %li
          %a{href: "#tabs-3"}
            %span Support
        %li
          %a{href: "#tabs-4"}
            %span CV building
        %li
          %a{href: "#tabs-5"}
            %span Additional details
        %li
          %a{href: "#tabs-6"}
            %span Notes


    .column.is-10.is-offset-1
      #tabs-1.tab
        %h3.subtitle Strengths

        .convert_checkbox
          =form.input :personal_traits, as: :check_boxes, collection: PersonalTraitOption.all, :label => 'Which words best describe you?', include_hidden: false
          = render partial: 'shared/other_text', locals: {form: form, field: :other_personal_trait}
          %p.help Choose as many options that apply to you.

        = form.simple_fields_for :assessment_notes, @strengths_notes  do |notes_form|
          =notes_form.input :content, label: 'What are your Strengths?'
          =notes_form.input :content_key, as: :hidden

        = form.simple_fields_for :assessment_notes, @strengths_notes  do |notes_form|
          =notes_form.input :content, label: 'What would you like to get better at?'
          =notes_form.input :content_key, as: :hidden

      #tabs-2.tab
        %h3.subtitle Aspirations
        %p.help Choose as many options that apply to you in all three questions below.

        = form.simple_fields_for :assessment_notes, @aspirations_notes  do |notes_form|
          =notes_form.input :content, label: 'What are your Aspirations?'
          =notes_form.input :content_key, as: :hidden

        = form.simple_fields_for :assessment_notes, @driving_force_notes  do |notes_form|
          =notes_form.input :content, label: 'What is driving you?'
          =notes_form.input :content_key, as: :hidden

        = form.simple_fields_for :assessment_notes, @barriers_notes  do |notes_form|
          =notes_form.input :content, label: 'What are your barriers?'
          =notes_form.input :content_key, as: :hidden

        = form.simple_fields_for :assessment_notes, @job_goal_1_notes  do |notes_form|
          =notes_form.input :content, label: 'Job Goal 1'
          =notes_form.input :content_key, as: :hidden

        = form.simple_fields_for :assessment_notes, @job_goal_2_notes  do |notes_form|
          =notes_form.input :content, label: 'Job Goal 2'
          =notes_form.input :content_key, as: :hidden

      #tabs-3.tab
        %h3.subtitle Support

        .convert_checkbox
          =form.input :objectives, as: :check_boxes, collection: ObjectiveOption.all, :label => 'What would you like to discuss with us?', include_hidden: false

          = render partial: 'shared/other_text', locals: { form: form, field: :other_objective }

        %br
        .convert_checkbox
          =form.input :support_priorities, as: :check_boxes, collection: SupportOption.all, :label => 'What would you like support with?', include_hidden: false

          = render partial: 'shared/other_text', locals: { form: form, field: :other_support_priority }

        %br
        .convert_checkbox
          =form.input :types_of_work, as: :check_boxes, collection: TypeOfWorkOption.all, :label => 'What types of work are you looking for?', include_hidden: false

          = render partial: 'shared/other_text', locals: { form: form, field: :other_type_of_work }

      #tabs-4.tab
        %h3.subtitle CV building

        %h4.subtitle Education
        %hr

        .convert_checkbox
          =form.input :qualifications, as: :check_boxes, collection: QualificationOption.all, :label => 'Do you have any of the following qualifications?', include_hidden: false
          = render partial: 'shared/other_text', locals: {form: form, field: :other_qualification}
          %p.help Choose as many options that apply to you.

        %br


        .convert_checkbox
          =form.input :training_courses, as: :check_boxes, collection: TrainingCourseOption.all, :label => 'have you completed any of the following training courses?', include_hidden: false
          = render partial: 'shared/other_text', locals: {form: form, field: :other_training_course}
          %p.help Choose as many options that apply to you.

        %br

        = form.input :studying, as: :radio_buttons, collection: [['Yes', true], ['No', false]], label: 'Are you currently studying?',  wrapper_html: { class: "convert_radio" }

        .is-hidden.on-true
          = form.input :studying_part_time, as: :radio_buttons, collection: [['Part time', true], ['Full time', false]], label: 'Are you currently studying?',  wrapper_html: { class: "convert_radio radio_child" }

          =form.input :current_education, as: :string, :label => 'What is the name of your course?', :input_html => { :class => 'input' }



        %h4.subtitle Employment
        %hr

        =form.input :employed, as: :radio_buttons, :label => 'Are you currently employed?', wrapper_html: { class: "convert_radio" }

        .is-hidden.on-true
          =form.input :job_title, as: :string, :label => 'What is your current job title?', :input_html => { :class => 'input' }
          =form.input :working_hours_per_week, as: :integer, :label => 'How many hours per week do you currently work?', :input_html => { :class => 'input' }
          =form.input :below_living_wage, as: :radio_buttons, :label => 'Are the earnings from your job below the living wage?', wrapper_html: { class: "convert_radio" }


      #tabs-5.tab
        %h3.subtitle Additional details
        .columns
          =form.input :gender, as: :radio_buttons, collection: ['Male', 'Female'], :label => 'Gender:', wrapper_html: { class: "convert_radio" }
          =form.input :gender, as: :string, label: 'If you prefer to use your own term, please describe it here:', :input_html => { :class => "input" }

        =form.input :receive_benefits, as: :radio_buttons, :label => 'Are you recieving any benefits?', wrapper_html: { class: "convert_radio" }

        =form.input :care_leaver, as: :radio_buttons, :label => 'Have you recently left care?', wrapper_html: { class: "convert_radio" }

        =form.input :has_children, as: :radio_buttons, :label => 'Do you have any children?', wrapper_html: { class: "convert_radio" }

        .is-hidden.on-true
          =form.input :lone_parent, as: :radio_buttons, :label => 'Are you an only parent?', :wrapper_html => { class: 'convert_radio' }

      #tabs-6.tab
        %h3.subtitle Notes

        = form.simple_fields_for :assessment_notes, @general_notes  do |notes_form|
          =notes_form.input :content, label: 'General'
          =notes_form.input :content_key, as: :hidden

        =form.input :rag_status, as: :radio_buttons, label: 'Assessment status:', collection: [["Red",:red], ["Amber", :amber], ["Green", :green]], wrapper_html: { class: "convert_radio" }
