= simple_form_for [client.object], url: advisor_client_path(client.object), method: :put do |form|
  #tabs.container{ 'data-base-url' => edit_advisor_client_path(id: client.object), 'data-active-tab' => @active_tab }
    .head.level
      .level-left
        %h2=client.name
        - if client.advisor == current_advisor
          %span.client_total="You are #{client.first_name}'s advisor"
        - else
          %span.client_total="#{client.advisor.name} is #{client.first_name}'s advisor"

      .level-right.home
        - if client.advisor == current_advisor
          = link_to "Back to my clients", :advisor_my_clients, class: "button nav-back"
        - else
          = link_to "Back to all clients", :advisor_clients, class: "button nav-back"
        = form.submit 'Save', :class => 'button is-primary'

    = render partial: 'shared/upper_tabs', locals: {the_client: client}

    .profile-tab.top-left-corner.columns#fix_alignment
      #tab-list.column.is-2
        %ul
          %li
            %a{href: "#overview"}
              %span
                = t('client.tab_a.tab_1')
          %li
            %a{href: "#details"}
              %span
                = t('client.tab_a.tab_9')
          %li
            %a{href: "#goals"}
              %span
                = t('client.tab_a.tab_3')
          %li
            %a{href: "#strengths"}
              %span
                = t('client.tab_a.tab_2')
          %li
            %a{href: "#support"}
              %span
                = t('client.tab_a.tab_4')
          %li
            %a{href: "#experience"}
              %span
                = t('client.tab_a.tab_5a')
          %li
            %a{href: "#equality"}
              %span
                = t('client.tab_a.tab_8')
          %li
            %a{href: "#additional"}
              %span
                = t('client.tab_a.tab_7')



      #tab-container.column
        #overview.tab
          = render 'shared/form_errors', object: form.object

          = render partial: '/shared/client_profile_overview'

        #details.tab
          = render partial: 'tab_contact', locals: {form: form}

        #goals.tab
          = render partial: 'tab_aspirations', locals: {form: form}

        #strengths.tab
          = render partial: 'tab_strengths', locals: {form: form}

        #support.tab
          = render partial: 'tab_support', locals: {form: form}

        #experience.tab
          = render partial: 'tab_education', locals: {form: form}

        #equality.tab
          = render partial: 'tab_equality', locals: {form: form}

        #additional.tab
          = render partial: 'tab_additional', locals: {form: form}
        %br
        = form.submit 'Save profile', :class => 'button is-primary is-pulled-right tablet_cta'
