= simple_form_for [client.object], url: advisor_client_path(client.object), method: :put do |form|
  #tabs.container
    .column
      .head.level
        .level-left
          %h2=client.name
          - if client.advisor == current_advisor
            %span.client_total="You are #{client.first_name}'s advisor"
          - else
            %span.client_total="#{client.advisor.name} is #{client.first_name}'s advisor"

        .level-right.home
          = link_to "Back to my clients", :advisor_my_clients, class: "button nav-back"
          = form.submit 'Save profile', :class => 'button is-primary'

      = render partial: 'shared/upper_tabs', locals: {the_client: client}

      .profile-tab.top-left-corner.columns
        #tab-list.column.is-2
          %ul
            %li
              %a{href: "#tabs-1"}
                %span
                  = t('client.tab_a.tab_1')
            %li
              %a{href: "#tabs-2"}
                %span
                  = t('client.tab_a.tab_2')
            %li
              %a{href: "#tabs-3"}
                %span
                  = t('client.tab_a.tab_3')
            %li
              %a{href: "#tabs-4"}
                %span
                  = t('client.tab_a.tab_4')
            %li
              %a{href: "#tabs-5"}
                %span
                  = t('client.tab_a.tab_5')
            %li
              %a{href: "#tabs-6"}
                %span
                  = t('client.tab_a.tab_6')
            %li
              %a{href: "#tabs-7"}
                %span
                  = t('client.tab_a.tab_7')
            %li
              %a{href: "#tabs-8"}
                %span
                  = t('client.tab_a.tab_8')
            %li
              %a{href: "#tabs-9"}
                %span
                  = t('client.tab_a.tab_9')


        .column
          #tabs-1.tab
            = render 'shared/form_errors', object: form.object

            = render partial: '/shared/client_profile_overview'

          #tabs-2.tab
            = render partial: 'tab_strengths', :locals => {:form => form}

          #tabs-3.tab
            = render partial: 'tab_aspirations', :locals => {:form => form}

          #tabs-4.tab
            = render partial: 'tab_support', :locals => {:form => form}

          #tabs-5.tab
            = render partial: 'tab_education', :locals => {:form => form}

          #tabs-6.tab
            = render partial: 'tab_employment', :locals => {:form => form}

          #tabs-7.tab
            = render partial: 'tab_additional', :locals => {:form => form}
            
          #tabs-8.tab
            = render partial: 'tab_equality', :locals => {:form => form}
          #tabs-9.tab
            = render partial: 'tab_contact', :locals => {:form => form}
          
