#all_clients
  .head.level
    .level-left
      %h2 All Clients
      %span.client_total#filtered_count
        =render partial: 'filtered_count', locals: { clients: @filtered_clients }

  = form_for_filterrific @filterrific do |f|
    #client_filters
      %h3.ie-only Filter clients
      .columns.is-multiline
        .column
          %label.label Hub
          %span.select
            = f.select(:by_hub_id, @filterrific.select_options[:by_hub_id], { include_blank: '- Any -' })
        .column
          %label.label Assigned Advisor
          %span.select
            = f.select(:by_advisor_id, @filterrific.select_options[:by_advisor_id], { include_blank: '- Any -' })
        .column
          %label.label Search client names:
          = f.text_field(:search_query, class: 'input auto-width')
        .column
          %label.label Training Course
          %span.select
            = f.select(:by_training, @filterrific.select_options[:by_training], { include_blank: '- Any -' })

        .column
          %label.label Industry preference
          %span.select
            = f.select(:by_types_of_work, @filterrific.select_options[:by_types_of_work], { include_blank: '- Any -' })

        .column
          %label.label Age
          %span.select
            = f.select(:by_age, @filterrific.select_options[:by_age], { include_blank: '- Any -' })

        .column
          %label.label Objective
          %span.select
            = f.select(:by_objective, @filterrific.select_options[:by_objective], { include_blank: '- Any -' })

        .column
          %label.label Status
          %span.select
            = f.select(:by_rag_status, @filterrific.select_options[:by_rag_status], { include_blank: '- Any -' })

        .column
          %label.label Archived state
          %span.select
            = f.select(:archived, @filterrific.select_options[:archived])

        .column.has-text-right
          = f.button :surpress_cv_download_on_pressing_enter_ugh!, class: 'is-hidden'
          = link_to('Reset filters', reset_filterrific_url, class: "button is-danger is-small")
    .has-text-right
      = f.button :format, name: :format, value: 'csv', class: 'button' do
        Export clients
  = render partial: 'filtered_table', locals: { clients: @filtered_clients }
