#all_clients.column
  .head.level
    .level-left
      %h2 All Clients
      %span.client_total
        -if @filtered_clients.count == Client.all.count
          ="#{Client.all.count} Total"
        -else
          %span.bold="#{@filtered_clients.count} filtered clients"
          =" - from #{Client.all.count} total"

  -if @filterrific.model_class.any?
    = form_for_filterrific @filterrific do |f|
      #client_filters
        %h3.ie-only Filter clients
        .columns
          .column
            %label.label Hub
            %span.select
              = f.select(:by_hub_id, @filterrific.select_options[:by_hub_id], { include_blank: '- Any -' })
          .column
            %label.label Assigned Advisor
            %span.select
              = f.select(:by_advisor_id, @filterrific.select_options[:by_advisor_id], { include_blank: '- Any -' })

          .column
            %label.label Training Course
            %span.select
              = f.select(:by_training, @filterrific.select_options[:by_training], { include_blank: '- Any -' })

          .column
            %label.label Industry preference
            %span.select
              = f.select(:by_types_of_work, @filterrific.select_options[:by_types_of_work], { include_blank: '- Any -' })

        .columns#vertical
          .column
            %label.label Search client names:
            = f.text_field(:search_query, class: 'input auto-width')

          .column
            %label.label Age
            %span.select
              = f.select(:by_age, @filterrific.select_options[:by_age], { include_blank: '- Any -' })

          .column.has-text-right#fix-line-hieght-dbl
            = link_to('Reset filters & show all', reset_filterrific_url, class: "button add-top")

    = render partial: 'filtered_table', locals: { clients: @filtered_clients }

  - else
    %h4=I18n.t('advisors.headers.no_clients_yet')
    =link_to I18n.t('buttons.my_clients'), advisor_my_clients_path, class: 'button is-primary'
