%section
  .head.level
    .level-left
      %h2= "Add a new client"
    .level-right
      =link_to "Back to My Clients", advisor_my_clients_path, class: 'button pull-right top_right_button'
  %hr

  = simple_form_for [client.object], url: :advisor_clients do |form|
    %p
      Before adding your client, please confirm they give consent to store their data on our system, and are happy with our #{link_to("privacy policy", privacy_policy_path, target: '_blank')}.

    .inline_checkbox
      = form.input :consent_given, as: :boolean, label: 'client gives consent to store their data', required: true

    = render partial: '/clients/form_fields', locals: {form: form}
    = form.submit 'Save', :class => 'button is-primary tablet_cta'
