.container.content.has-text-centered
  = render partial: 'shared/profile_steps'
.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle=I18n.t('clients.steps.about_you.long')

    = simple_form_for [current_client], url: :client_personal_traits do |form|
      = render 'shared/form_errors', object: form.object
      .convert_checkbox
        =form.input :personal_traits, as: :check_boxes, collection: PersonalTraitOption.all, :label => 'Which words best describe you?', include_hidden: false
        = render partial: 'shared/other_text', locals: {form: form, field: :other_personal_trait}
        %p.help Choose as many options that apply to you.

      .actions
        = form.submit 'Next Step', :class => 'button is-primary is-pulled-right'
        = form.submit 'Save and Exit', :class => 'button'
