= f.input :pay, label: 'Pay', :input_html => { :class => 'input' }
= f.input :contract, label: 'Contract', :input_html => { :class => 'input' }
= f.input :sector, label: 'Sector', :input_html => { :class => 'input' }

= f.input :full_description, as: :text, input_html: { class: 'tinymce' }
= tinymce_assets
= tinymce
