%section
  .head.level
    .level-left
      %h2= "Edit job"
  %hr

  .opportunity_form
    = simple_form_for @job, url: advisor_job_path, local: true, method: :put do |f|
      = render partial: 'advisor/opportunities/shared_form_fields', locals: {f: f}
      = render partial: 'shared_fields', locals: {f: f}
      = f.submit "Update job opportunity", :class => 'button is-primary tablet_cta'
