%section
  .head.level
    .level-left
      %h2= "Add a new job"
    .level-right
      =link_to "Back to all opportunities", opportunities_path, class: 'button pull-right top_right_button'
  %hr

  .opportunity_form
    = simple_form_for @job, url: advisor_jobs_path, local: true do |f|
      = render partial: 'advisor/opportunities/shared_form_fields', locals: {f: f}
      = render partial: 'shared_fields', locals: {f: f}
      = f.submit "Add new job opportunity", :class => 'button is-primary tablet_cta'
