%section
  .head.level
    .level-left
      %h2= job.title
    .level-right
      =link_to "Back to all opportunities", advisor_opportunities_path, class: 'button pull-right top_right_button'
  %hr

  .box
    = render partial: 'shared/opportunities/common_job_details', locals: { opportunity: job }

  .box
    = job.long_description

  .box
    %h2 Enquiries for this opportunity
    - if job.enquiries.count > 0
      %table
        %tr
          %th
            Client
          %th
            Applied on
          %th
            Status
        - job.enquiries.each do |enquiry|
          %tr
            %td
              = enquiry.client.first_name
              = enquiry.client.last_name
            %td
              = enquiry.created_at.strftime("%e %B %Y")
            %td
              = enquiry.status
    - else
      %p No enquires have been made on this job yet
