.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle Forgot your password?

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      .field
        = f.label :email, class: 'label'
        %p.control.has-icons-left
          = f.email_field :email, autofocus: true, class: 'input', placeholder: 'Your email'
          %span.icon.is-small.is-left
            %i.fa.fa-envelope

      .actions
        = f.submit "Send me reset password instructions", class: 'button is-primary'
    = render "devise/shared/links"
