.tile.is-ancestor
  .tile.is-vertical.is-12
    .tile
      .tile.is-parent.is-vertical
        %article.tile.is-child.box
          %h3 Details & Contact
          = client.decorate_name
          = client.decorate_age
          = client.decorate_date_registered
          = client.decorate_email
          = client.decorate_phone
          = client.decorate_address
        %article.tile.is-child.box
          %h3
            \ Support & Work
            %i.fa.fa-circle{class: client.rag_status}
          = client.decorate_past_education
          = client.decorate_currently_employed
          = client.decorate_studying
          = client.decorate_types_of_work
          = client.decorate_support_priorities
      .tile.is-parent
        %article.tile.is-child.box
          %h3 Aspirations & Goals
          = client.decorate_objectives
          -# Aspirations
          -# Goals
          = client.decorate_barriers
    .tile.is-parent.is-vertical
      .tile.is-child.box
        %h3 Files
        %p To be shifted up here still

%br
#actions= render partial: 'actions'
