#upper-tabs.columns.level
  = link_to edit_advisor_client_path(the_client), class: "single-tab #{cp(edit_advisor_client_path(the_client, @active_tab))}" do
    %span
      = t('client.upper_tabs.tab_a')

  = link_to advisor_client_meetings_path(the_client), class: "single-tab #{cp(advisor_client_meetings_path(the_client))}" do
    %span
      = t('client.upper_tabs.tab_b')

  = link_to advisor_client_action_plan_tasks_path(client_id: the_client.id), class: "single-tab #{cp(advisor_client_action_plan_tasks_path(client_id: the_client.id))}" do
    %span
      = t('client.upper_tabs.tab_c')

  = link_to advisor_client_contact_notes_path(client_id: the_client.id), class: "single-tab #{cp(advisor_client_contact_notes_path(client_id: the_client.id))}" do
    %span
      = t('client.upper_tabs.tab_d')

  = link_to advisor_client_enquiries_path(client_id: the_client.id), class: "single-tab #{cp(advisor_client_enquiries_path(client_id: the_client.id))}" do
    %span
      = t('client.upper_tabs.tab_g')
    - if the_client.enquiries.awaiting.count > 0
      %span.enquiry_notification= the_client.enquiries.awaiting.count

  = link_to new_advisor_client_file_upload_path(client_id: the_client.id), class: "single-tab #{cp(new_advisor_client_file_upload_path(client_id: the_client.id))}" do
    %span
      = t('client.upper_tabs.tab_f')
