#upper-tabs.columns.level
  = link_to edit_advisor_client_path(the_client), class: "single-tab #{cp(edit_advisor_client_path(the_client))}" do
    %span="Profile"
  = link_to advisor_client_meetings_path(the_client), class: "single-tab #{cp(advisor_client_meetings_path(the_client))}" do
    %span="Meetings"
  = link_to advisor_client_action_plan_tasks_path(client_id: the_client.id), class: "single-tab #{cp(advisor_client_action_plan_tasks_path(client_id: the_client.id))}" do
    %span="Action Plan"
  = link_to advisor_client_contact_notes_path(client_id: the_client.id), class: "single-tab #{cp(advisor_client_contact_notes_path(client_id: the_client.id))}" do
    %span="Contact"
