.column
  = simple_form_for [client] do |form|
    %fieldset
      %h3.subtitle Register for the service

      %p
        Before we begin we need to ask for explicit consent to store your data in alignment with our #{link_to("privacy policy", privacy_policy_path, target: '_blank')}. Outside of the tools listed, we will never share your personal information with third parties without your consent.

      = render 'shared/form_errors', object: form.object

      .inline_checkbox
        = form.input :consent_given, as: :boolean, label: 'I give consent to store my data', required: true

      %hr

      %p Please complete the details below. Once you have registered, you will receive an email to verify your account.

      = render partial: 'form_fields', locals: {form: form}

      - if @registering_to_enquire
        %hr
        %h4.bold Hackney Works service
        %p Hackney Works is a completely free one to one support service for finding work with dedicated Hackney Works Advisers. Our advisors can provide support for you with CVs, interview preperation and much more to help you in finding a new job.
        #want_advisor.convert_radio
          = form.input :wants_advisor, as: :radio_buttons, collection: [['Yes', true], ['No', false]], label: "Would you like to be assigned to a Hackney Works advisor?"

      %br
      = form.submit t('devise.buttons.register'), :class => 'button is-primary is-pulled-right is-large'
