.column
  = simple_form_for [client] do |form|
    %fieldset
      %h3.subtitle Register for the service

      %p
        Before we begin we need to ask for explicit consent to store your data in alignment with our #{link_to("privacy policy", privacy_policy_path, target: '_blank')}. Outside of the tools listed, we will never share your personal information with third parties without your consent.

      = render 'shared/form_errors', object: form.object

      .inline_checkbox
        = form.input :consent_given, as: :boolean, label: 'I give consent to store my data', required: true

      %hr

      %p Please complete the details below. Once you have registered, you will receive an email to verify your account.

      = render partial: 'form_fields', locals: {form: form}

      - if @registering_to_enquire
        %hr
        %h4.bold Hackney Works service
        %p We provide a service that .........
        %p Find out more here...
        #want_advisor.convert_radio
          = form.input :wants_advisor, as: :radio_buttons, collection: [['Yes', true], ['No', false]], label: "Would you like to be assigned to a Hackney Works advisor to assist you with your job search?"

      %hr
      #supportedemployment_block
        %p.bold Supported Employment
        %p If you need support with your mental health condition or have a learning disability, please tick the box below.

        .inline_checkbox.light-label
          = form.input :assigned_supported_employment, as: :boolean, label: "Tick here if you would like to see one of these advisors."

      %br
      = form.submit t('devise.buttons.register'), :class => 'button is-primary is-pulled-right is-large'
