.column
  = simple_form_for [client] do |form|
    %fieldset
      %h3.subtitle Register for the service

      %p
        Before we begin we need to ask for explicit consent to store your data in alignment with our #{link_to("privacy policy", privacy_policy_path, target: '_blank')}. Outside of the tools listed, we will never share your personal information with third parties without your consent.

      = render 'shared/form_errors', object: form.object

      .inline_checkbox
        = form.input :consent_given, as: :boolean, label: 'I give consent to store my data', required: true

      %hr

      %p Please complete the details below. Once you have registered, you will receive an email to verify your account.

      = render partial: 'form_fields', locals: {form: form}

      %hr
      %h4.bold Supported Employment
      %p Our Supported Employment advisors specialise in supporting clients with mental health conditions, learning difficulties or disabilities.

      .inline_checkbox.light-label
        = form.input :assigned_supported_employment, as: :boolean, label: "Please tick here if you would like to see one of these advisors."

      = render partial: 'shared/assessment_note', locals: {form: form, note: client.assessment_notes.find_or_initialize_by(content_key: :additional_info), label: 'Anything else we should know?', type: :text }
      %br
      = form.submit t('devise.buttons.register'), :class => 'button is-primary is-pulled-right is-large'
