.column
  = simple_form_for [client] do |form|
    %fieldset
      %h3.subtitle Register for the service
      %hr
      %p Please complete the details below. Once you have registered, you will receive an email to verify your account.

      = render 'shared/form_errors', object: form.object
      = render partial: 'form_fields', locals: {form: form}

      %h4 Supported Employment
      %p Our Supported Employment advisors specialise in supporting clients with mental health conditions, learning difficulties or disabilities.

      .inline_checkbox
        = form.input :assigned_supported_employment, as: :boolean, label: "Please tick here if you would like to see one of these advisors."

      = render partial: 'shared/assessment_note', locals: {form: form, note: client.assessment_notes.find_or_initialize_by(content_key: :additional_info), label: 'Anything else we should know?', type: :text }

      = form.submit 'Register', :class => 'button is-primary'
