#filterrific_results
  -if clients.any?
    %table.table#clients_with_initial_appointment
      %thead
        %tr
          %th
            = filterrific_sorting_link(@filterrific, 'first_name', label: 'Client')
          %th
            = filterrific_sorting_link(@filterrific, 'next_meeting_date', label: 'Next Meeting date')
          %th Last Meeting / Contact
          %th
            = filterrific_sorting_link(@filterrific, 'rag_status', label: 'Status')
          %th Enquiries
          %th
      %tbody
        = render partial: 'with_meeting', collection: clients, as: 'client'
    = paginate clients # provided by kaminari
  -else
    %p.bold No clients were found within that filter criteria use the reset filter button to start again
