#your_clients.column

  .head.columns.level
    .level-left.column
      %h2 Your Clients
      -if @clients_requiring_contact.any?
        %span.client_total="#{current_advisor.clients.count} Total (#{@clients_requiring_contact.count} need initial contact)"
      -else
        %span.client_total="#{current_advisor.clients.count} Total"
    .level-right.column
      = link_to 'Create new client', :new_advisor_client, class: "button"

  -if @clients_requiring_contact.any?
    %section#clients_needing_appointment.hero.section
      .container.content.columns
        .column
          %h4.bold
            ="You have #{pluralize(@clients_requiring_contact.count, 'client')} that still require initial contact"

          %table.table
            %thead
              %tr
                %th Client
                %th Registered
                %th Tried to contact
                %th Last contact
                %th
            %tbody
              = render partial: 'awaiting_contact', collection: @clients_requiring_contact.shift(2), as: 'client'

          -if @clients_requiring_contact.any?
            %h4#view_more
              \ See more clients
              %i.fa.fa-chevron-down
            #hidden-section
              %table.table
                %tbody
                  = render partial: 'awaiting_contact', collection: @clients_requiring_contact, as: 'client'


  - if @filterrific.model_class.any?
    = form_for_filterrific @filterrific do |f|
      #client_filters
        .columns
          .column
            %label.label Search client names
            = f.text_field(:search_query, class: 'input auto-width')

          .column
            %label.label Training Course
            %span.select
              = f.select(:by_training, @filterrific.select_options[:by_training], { include_blank: '- Any -' })

          .column
            %label.label Industry preference
            %span.select
              = f.select(:by_types_of_work, @filterrific.select_options[:by_types_of_work], { include_blank: '- Any -' } )
          .column
            %label.label Age
            %span.select
              = f.select(:by_age, @filterrific.select_options[:by_age], { include_blank: '- Any -' })

          .column.has-text-right#fix-line-hieght
            = link_to('Reset filters', reset_filterrific_url, class: "button")

    = render partial: 'filtered_table', locals: { clients: @filtered_clients }

  - unless current_advisor.clients.any?
    %h4=I18n.t('advisors.headers.no_clients')
    =link_to I18n.t('buttons.all_clients'), :advisor_clients
