%td
  = "#{application.first_name} #{application.last_name}"
%td
  = application.created_at.strftime("%e %B %Y")
%td
  = application.email
%td
  = application.phone_number
- if type == "course"
  - if intake(@intakes, application.wordpress_object_id).present?
    %td
      = intake(@intakes, application.wordpress_object_id)["acf"]["parent_course"]["post_title"]
    %td
      = intake_as_dates(@intakes, application.wordpress_object_id)
  - else
    %td
    %td 
      %small Not found
%td
  = link_to "Review application", advisor_application_path(application), class: 'button is-primary is-small'
