%td
  - if @possible_client
    = link_to "#{application.first_name} #{application.last_name}", advisor_client_path(possible_client)
  - else
    = "#{application.first_name} #{application.last_name}"
%td
  = application.created_at.strftime("%e %B %Y")
%td
  = application.email
%td
  = application.phone_number
- if type == "course"
  - if intake(@intakes, application.wordpress_object_id).present?
    %td
      = intake(@intakes, application.wordpress_object_id)["acf"]["parent_course"]["post_title"]
    %td
      = intake_as_dates(@intakes, application.wordpress_object_id)
  - else
    %td
    %td 
      %small Not found
- elsif type == "vacancy"
  - if vacancy(@vacancies, application.wordpress_object_id).present?
    %td
      = link_to vacancy(@vacancies, application.wordpress_object_id)["title"]["rendered"], advisor_applications_path(vacancy_select: application.wordpress_object_id, type: 'vacancy')
  - else
    %td
      %small Not found

%td
  = link_to "Review application", advisor_application_path(application), class: 'button is-primary is-small'
