%section
  .head.level
    .level-left
      %h2 Application
    .level-right
      = link_to "Back", session[:return_to], class: 'button pull-right top_right_button'
  %hr

  .box
    %p
      %span.bold Applicant:
      = "#{@application.first_name} #{@application.last_name}"
    %p
      %span.bold Email:
      = @application.email
      - if @possible_client.present?
        (possible client: #{link_to "#{@possible_client.first_name} #{@possible_client.last_name}", advisor_client_path(@possible_client)})
    %p
      %span.bold Phone number:
      = @application.phone_number
    - if @application.type == 'VacancyApplication'
      %p
        %span.bold Statement:
        = @application.statement
      %p
      %span.bold CV:
      - if @file_upload.present?
        = link_to @file_upload.attachment_file_name, download_url(@file_upload), title: @file_upload.attachment_file_name, target: :blank
      - else
        No CV provided

  .box
    - if @application.type == 'CourseApplication'
      - if @intake.present?
        %p
          %span.bold Course:
          = intake_course_title(@intake)
        %p
          %span.bold Intake:
          = link_to "#{@intake["acf"]["start_date"]} — #{@intake["acf"]["end_date"]}", @intake["link"]

        %p
          %span.bold Total applications:
          = "#{@application.total_applications} / #{@intake["acf"]["total_capacity"]}"
          %meter{ value: @application.total_applications, 
                  optimum: 0,
                  low: @intake["acf"]["total_capacity"].to_i*0.66,
                  high: @intake["acf"]["total_capacity"],  
                  max: @intake["acf"]["total_capacity"]+ ".1"}
      - else
        %p
          Intake not found
    - elsif @application.type == 'VacancyApplication'
      - if @vacancy.present?
        %p
          %span.bold Vacancy:
          = @vacancy["title"]["rendered"]
        %p
          %span.bold Total applications:
          = "#{@application.total_applications}"
      - else
        %p
          Vacancy not found

  .box
    - if @application.dismissed
      This application has been dismissed
    - else
      %p Have you processed this application? If so, click the 'dismiss' button below and it will be moved into the 'reviewed applications' section. 
      %p You will still be able to view the details if you need them again later.
      = link_to "Dismiss", advisor_application_dismiss_path(@application), method: :put, :class => "button is-primary tablet_cta #{'disabled' if @application.dismissed}", :data => {:confirm => 'Are you sure you want to dismiss this application?'}


