-if hub.id != 4
  .box.hub
    %h2= hub.name
    %p=hub.address_to_s
    - if hub.manager
      %p Manager: #{(hub.manager.name)}
      
    .columns
      - if hub.manager
        .map.column.is-two-thirds.is-two-thirds-tablet{id: "hub_map_#{hub.id}", 'data-lat' => hub.latitude, 'data-lng' => hub.longitude, 'data-name' => hub.name, 'data-street' => hub.address_line_1 }
        .image.column.is-one-third.is-one-third-tablet{id: "hub_staff_#{hub.id}"}
      - else
        .map.column.is-full.is-full-tablet{id: "hub_map_#{hub.id}", 'data-lat' => hub.latitude, 'data-lng' => hub.longitude, 'data-name' => hub.name, 'data-street' => hub.address_line_1 }
