%h3
  = t('hackney_works.hubs.title')
%br
#hubs
  = render partial: 'hub', collection: hubs

  .box.hub
    %h2 Supported Employment
    %p=hubs.third.address_to_s
    %p Supported Employment Officer: Chetna Chudasama

    %p If you need specialist support our team includes dedicated Supported Employment advisors who support residents with health conditions and disabilities.
    %p= link_to "Find out more about supported employment.", support_path
    .columns
      .map.column.is-two-thirds{id: "hub_map_4", 'data-lat' => hubs.third.latitude, 'data-lng' => hubs.third.longitude, 'data-name' => hubs.third.name, 'data-street' => hubs.third.address_line_1 }

      .image.column.is-one-third{id: "hub_staff_4"}
.box.top.hubs
  %p
    = t('hackney_works.hubs.info')
  %p
    = t('hackney_works.hubs.extra')
  %p=mail_to 'hackneyworks@hackney.gov.uk'
