.column.is-12.has-text-centered
  = render partial: 'shared/profile_steps'

.column.reg-flow
  =image_tag('icons/employment.svg', :alt => 'Employment Icon')
  %h2.subtitle=I18n.t('clients.steps.employment.long')

  = simple_form_for [current_client.decorate], url: :client_employment_status do |form|
    = render 'shared/form_errors', object: form.object

    =form.input :employed, as: :radio_buttons, :label => 'Are you currently employed?', wrapper_html: { class: "convert_radio has_child" }

    .is-hidden.on-true
      =form.input :job_title, as: :string, :label => 'What is your current job title?', :input_html => { :class => 'input' }

    = render partial: '/shared/latest_file_upload', as: :client, object: form.object
    .actions
      = form.submit 'Complete Profile', :class => 'button is-primary is-pulled-right'
      = form.submit I18n.t('clients.buttons.onboarding_skip'), :class => 'button'
