.container.content.has-text-centered
  = render partial: 'shared/profile_steps'
.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle=I18n.t('clients.steps.step_2.long')

    = simple_form_for [current_client], url: :client_employment_status do |form|
      = render 'shared/form_errors', object: form.object

      =form.input :employed, as: :radio_buttons, :label => 'Are you currently employed?', wrapper_html: { class: "convert_radio" }

      .is-hidden.on-true
        =form.input :working_hours_per_week, as: :integer, :label => 'How many hours per week do you currently work?', :input_html => { :class => 'input' }

        =form.input :job_title, as: :string, :label => 'What is your current job title?', :input_html => { :class => 'input' }

      .is-hidden.on-false
        =form.input :time_since_last_job, as: :radio_buttons, collection: OutOfWorkOption.all, :label => 'How long have you been out of work for?', include_hidden: false, wrapper_html: { class: "convert_radio" }

      .actions
        = form.submit 'Next Step', :class => 'button is-primary is-pulled-right'
        = form.submit 'Save and Exit', :class => 'button'
