%section
  .head.level
    .level-left
      %h2= "Add a new opportunity"
    .level-right
      =link_to "Back to all opportunities", opportunities_path, class: 'button pull-right top_right_button'
  %hr

  %label.label Which type of opportunity do you want to add?
  = link_to "Job", new_advisor_job_path, class: "button"
  = link_to "External Apprenticeship", new_advisor_external_apprenticeship_path, class: "button"
  = link_to "Work Placement", new_advisor_work_placement_path, class: "button"
  = link_to "Event", new_advisor_event_path, class: "button"
  = link_to "Training", new_advisor_training_path, class: "button"
