%tr{'data-id': vacancy.id ,'data-title': vacancy.title, 'data-vacancy-type': vacancy.vacancy_type, 'data-salary': vacancy.salary, 'data-description': vacancy.description, class: (vacancy.featured_vacancy.nil? ? '' : 'is-hidden'), id: "vacancy_#{vacancy.id}" }
  %td= link_to vacancy.title, edit_advisor_vacancy_path(vacancy)
  %td= vacancy.vacancy_type
  %td= vacancy.salary
  %td= button_to 'Delete', advisor_vacancy_path(vacancy), method: :delete, class: 'button is-primary', data: { confirm: 'Are you sure you want to delete this job?'}
