.column
  - if @registering_to_enquire
    %p In order to register your interest for this opportunity you need an account on Hackney Works.

    %p If you already have an account sign in using the form below, if not then sign up a new account now, it only takes a minute.

    =link_to "Sign up a new account", new_client_path, class: 'button is-primary'
    %br
    %br
  %h2.subtitle Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, class: 'label'
      %p.control.has-icons-left
        = f.email_field :email, autofocus: true, class: 'input', placeholder: 'Your email'
        %span.icon.is-small.is-left
          %i.fa.fa-envelope

    .field
      = f.label :password, class: 'label'
      %p.control.has-icons-left
        = f.password_field :password, autocomplete: "off", class: 'input'
        %span.icon.is-small.is-left
          %i.fa.fa-unlock-alt

    - if devise_mapping.rememberable?
      .field
        = f.label :remember_me, class: 'checkbox' do
          = f.check_box :remember_me
          Remember me

    .actions
      = f.submit "Log in", class: 'button is-primary'

  = render "devise/shared/links"
