%section
  .head.level
    .level-left
      %h2= "Enquire about this #{@opportunity.type_string.downcase}"
    .level-right
      =link_to "Back to #{@opportunity.type_string.downcase} description", opportunity_path(@opportunity), class: 'button pull-right top_right_button'

  .box
    .opportunity_form
      = simple_form_for [@opportunity, @enquiry], url: client_opportunity_enquiries_path, html: { multipart: true }, local: true do |f|

        .file_selector
          %label.label Upload your CV
          = f.input_field :file_upload_id, as: :select, include_blank: 'Select a CV:', collection: current_client.file_uploads_for_select, class: 'input', input_wrapper_html: {class: 'select'}

        .file_uploader
          = simple_fields_for @file_upload do |file_fields|

            %div
              = file_fields.input :attachment, as: :file, label: "Choose a file to upload"
              = file_fields.input :uploaded_by, as: :hidden
              = file_fields.input :client_id, as: :hidden

        = f.input :supporting_statement, as: :text, :input_html => { :class => 'textarea' }

        %div
          .warning_message.alert.alert-notice
            We'll send your enquiry using the contact details on your profile.

        = f.submit "Send enquiry", :class => 'button is-primary tablet_cta'

  .box
    %h2.bold= @opportunity.title
    = render partial: 'opportunities/common_opportunity_details', locals: { opportunity: @opportunity }
    %p.end_date
      %span.bold Contract:
      = @opportunity.specific.contract
    - if @opportunity.specific.try(:qualification).present?
      %p.qualification
        %span.bold Qualification/Level:
        = @opportunity.specific.qualification
    %p.end_date
      %span.bold Sector:
      = @opportunity.specific.sector

    %h3.bold="About this #{@opportunity.type_string.downcase}"
    = simple_format(@opportunity.specific.full_description)
