%section
  .head.level
    .level-left
      %h2 Application
    .level-right
      = link_to "Back", advisor_vacancy_applications_path, class: 'button pull-right top_right_button'
  %hr

  .box
    %p
      %span.bold Applicant:
      = "#{@vacancy_application.first_name} #{@vacancy_application.last_name}"
    %p
      %span.bold Email:
      = @vacancy_application.email
      - if @possible_client.present?
        (possible client: #{link_to "#{@possible_client.first_name} #{@possible_client.last_name}", advisor_client_path(@possible_client)})

    %p
      %span.bold Phone number:
      = @vacancy_application.phone_number


  .box
    - if @vacancy.present?
      %p
        %span.bold Vacancy:
        = @vacancy["title"]["rendered"]
    - else
      %p
        Vacancy not found

    %p
      %span.bold Total applications:
      = "#{@vacancy_application.total_applications}"

  .box
    - if @vacancy_application.dismissed
      This application has been dismissed
    - else
      %p Have you processed this application? If so, click the 'dismiss' button below and it will be moved into the 'reviewed applications' section. 
      %p You will still be able to view the details if you need them again later.
      = link_to "Dismiss", advisor_vacancy_application_dismiss_path(@vacancy_application), method: :put, :class => "button is-primary tablet_cta #{'disabled' if @vacancy_application.dismissed}", :data => {:confirm => 'Are you sure you want to dismiss this application?'}