%section
  .head.level
    .level-left
      %h2="Enquiries awaiting review"
      %span.client_total#filtered_count
        %span.bold=pluralize(@enquiries_awaiting.count, ' awaiting enquiry')

  - if enquiries.count > 0
    - if @enquiries_awaiting.count > 0
      %table.table
        %thead
          %tr
            %th
              Client
            %th
              Opportunity
            %th
              Enquired
            %th
              Email
            %th
              Phone
            %th

        - @enquiries_awaiting.each do |enquiry|
          %tr
            %td
              =link_to enquiry.client.name, advisor_client_enquiries_path(enquiry.client)
            %td
              = link_to enquiry.opportunity.title, opportunity_path(enquiry.opportunity)
            %td
              = enquiry.created_at.strftime("%e %B %Y")
            %td
              = enquiry.client.email
            %td
              = enquiry.client.phone
            %td
              = link_to "Review enquiry", advisor_opportunity_enquiry_path(enquiry.opportunity, enquiry), class: 'button is-primary is-small'
    - if @enquiries_reviewed.count > 0
      %br
      %br
      %br
      .head.level
        .level-left
          %h2="Reviewed enquiries"
          %span.client_total#filtered_count
            %span.bold=pluralize(@enquiries_reviewed.count, ' reviewed enquiry')

      %table.table
        %thead
          %tr
            %th
              Client
            %th
              Opportunity
            %th
              Enquired
            %th
              Email
            %th
              Phone
            %th

        - @enquiries_reviewed.each do |enquiry|
          %tr{ class: enquiry.status }
            %td
              =link_to enquiry.client.name, advisor_client_enquiries_path(enquiry.client)
            %td
              = link_to enquiry.opportunity.title, opportunity_path(enquiry.opportunity)
            %td
              = enquiry.created_at.strftime("%e %B %Y")
            %td
              = enquiry.client.email
            %td
              = enquiry.client.phone
            %td
              = link_to "Review enquiry", advisor_opportunity_enquiry_path(enquiry.opportunity, enquiry), class: 'button is-primary is-small'
  - else
    %p="No enquires have been made yet"
