%section
  .head.level
    .level-left
      %h2 Review Enquiry
    .level-right
      = link_to "Back", session[:return_to], class: 'button pull-right top_right_button'
  %hr

  .box
    %p
      %span.bold Client:
      = link_to @client.name, advisor_client_path(@client)
    %p
      %span.bold Opportunity:
      = link_to opportunity.title, opportunity_path(opportunity)
    %p
      %span.bold Enquired on:
      = enquiry.created_at.strftime("%e %B %Y")
    %p
      %span.bold CV:
      - if @file_upload.present?
        = link_to @file_upload.attachment_file_name, @file_upload.attachment.try(:url), title: @file_upload.attachment_file_name, target: :blank
      - else
        No CV provided

    %p.bold
      = "#{@client.first_name}'s Supporting Statement"
    = enquiry.supporting_statement

  .box
    = simple_form_for enquiry, url: advisor_opportunity_enquiry_path, method: :put, local: true do |form|
      .convert_radio
        = form.input :status, as: :radio_buttons, label: "Were they accepted?", collection: [['Yes', 'accepted'], ['No', 'declined']]
      %br
      = form.input :feedback, as: :text, input_html: { class: 'textarea' }
      = form.submit "Submit", :class => 'button is-primary tablet_cta'


