#all_opportunities
  .head.level
    - if current_advisor
      .level-left
        %h2 Active opportunities
        %span.client_total#filtered_count
          %span.bold=pluralize(@opportunities.count, ' active opportunity')
      .level-right.home
        = link_to "Add new Opportunity", new_advisor_opportunity_path, class: "button is-primary"
    - else
      .level-left
        %h2 All opportunities

  .filters
    Filter:
    .tag.large.job{ class: request.original_fullpath == opportunities_path ? '' : 'inactive' }
      = link_to "All", opportunities_path
    .tag.large.job{ class: request.original_fullpath == opportunities_path(type: 'jobs') ? '' : 'inactive' }
      = link_to "Jobs", opportunities_path(type: 'jobs')
    .tag.large.apprenticeship{ class: request.original_fullpath == opportunities_path(type: 'apprenticeships') ? '' : 'inactive' }
      = link_to "Apprenticeships", opportunities_path(type: 'apprenticeships')
    .tag.large.placement{ class: request.original_fullpath == opportunities_path(type: 'placements') ? '' : 'inactive' }
      = link_to "Placements", opportunities_path(type: 'placements')
    .tag.large.event{ class: request.original_fullpath == opportunities_path(type: 'events') ? '' : 'inactive' }
      = link_to "Events", opportunities_path(type: 'events')
    .tag.large.training{ class: request.original_fullpath == opportunities_path(type: 'training') ? '' : 'inactive' }
      = link_to "Training", opportunities_path(type: 'training')

  - if @opportunities.any?

    %br
    .container
      .opportunity_list.columns.is-multiline
        - @opportunities.each do |opportunity|
          - if opportunity.specific.try(:url).present?
            = render partial: 'opportunities/unenquireable_single_opportunity', locals: { opportunity: opportunity }
          - else
            = render partial: 'opportunities/single_opportunity', locals: { opportunity: opportunity }
    %br
    = paginate @opportunities

  - elsif !current_advisor
    %br
    .box
      %p Sorry there are currently not any opportunities avaliable. Check regularly for updated information


  - if current_advisor
    - if @old_opportunities.any?
      %br
      %br
      %br
      .head.level
        .level-left
          %h2 Completed opportunities
          %span.client_total#filtered_count
            %span.bold=pluralize(@old_opportunities.count, 'completed opportunity')


      .container
        .opportunity_list.columns.is-multiline
          - @old_opportunities.each do |opportunity|
            = render partial: 'opportunities/single_opportunity', locals: { opportunity: opportunity }
      %br
      = paginate @old_opportunities
