%section
  .head.level
    .level-left
      %h2= @opportunity.title
    .level-right
      =link_to "Back to all opportunities", opportunities_path, class: 'button pull-right top_right_button'
      - if !current_advisor && !@opportunity.enquired_for_by_client?(current_client)
        = link_to "Register interest", new_client_opportunity_enquiry_path(@opportunity), class: 'break_button button is-primary pull-right top_right_button'
  %hr

  .box
    = render partial: 'opportunities/common_opportunity_details', locals: { opportunity: @opportunity }
    %p.end_date
      %span.bold Contract:
      = @opportunity.specific.contract
    - if @opportunity.specific.try(:qualification).present?
      %p.qualification
        %span.bold Qualification/Level:
        = @opportunity.specific.qualification
    %p.end_date
      %span.bold Sector:
      = @opportunity.specific.sector

  .box
    = simple_format(@opportunity.specific.full_description)

  %br
  %br
  %br
  - if current_advisor
    %h2 Enquiries for this opportunity
    - if @opportunity.enquiries.count > 0
      %table.table.enquiries
        %thead
          %tr
            %th
              Client
            %th
              Enquired on
            %th
              Status
            %th

        - @opportunity.enquiries.each do |enquiry|
          %tr{ class: enquiry.status }
            %td
              =link_to enquiry.client.name, advisor_client_enquiries_path(client_id: enquiry.client.id)
            %td
              = enquiry.created_at.strftime("%e %B %Y")
            %td
              = enquiry.status.capitalize
            %td
              = link_to "Review enquiry", advisor_opportunity_enquiry_path(@opportunity, enquiry), class: 'button is-primary is-small'
    - else
      .box
        %p No enquires have been made on this opportunity yet
  - else
    - if @opportunity.enquired_for_by_client?(current_client)
      .box
        You have already enquired about this opportunity
    - else
      .box
        %h2 Register your interest
        = link_to "Register interest now", new_client_opportunity_enquiry_path(@opportunity), class: 'button is-primary'


