%section
  .head.level
    .level-left
      %h2= @opportunity.title
    .level-right
      =link_to "Back to all opportunities", opportunities_path, class: 'button pull-right top_right_button'
      -if !current_advisor
        / add to if - && not already applied
        = link_to "Register interest", new_client_opportunity_enquiry_path(@opportunity), class: 'break_button button is-primary pull-right top_right_button'
  %hr

  .box
    = render partial: 'opportunities/common_opportunity_details', locals: { opportunity: @opportunity }
    %p.end_date
      %span.bold Contract:
      = @opportunity.specific.contract
    - if @opportunity.specific.try(:qualification) && @opportunity.specific.qualification != ''
      %p.qualification
        %span.bold Qualification/Level:
        = @opportunity.specific.qualification
    %p.end_date
      %span.bold Sector:
      = @opportunity.specific.sector

  .box
    = simple_format(@opportunity.specific.full_description)

  .box
    - if current_advisor
      %h2 Enquiries for this opportunity
      - if @opportunity.enquiries.count > 0
        %table.enquiries
          %tr
            %th
              Client
            %th
              Applied on
            %th
              Status
            %th
              Feedback
          - @opportunity.enquiries.each do |enquiry|
            %tr
              %td
                =link_to enquiry.client.name, advisor_client_enquiries_path(client_id: enquiry.client.id)
              %td
                = enquiry.created_at.strftime("%e %B %Y")
              %td
                = enquiry.status.capitalize
              %td
                = link_to "Review enquiry", advisor_opportunity_enquiry_path(@opportunity, enquiry), class: 'button is-primary is-small'
      - else
        %p No enquires have been made on this opportunity yet
    - else
      %h2 Register your interest
      = link_to "Register interest now", new_client_opportunity_enquiry_path(@opportunity), class: 'button is-primary'


