.column
  .head.level
    .level-left
      %h2="#{client.first_name}'s contact timeline"


  = render partial: 'shared/upper_tabs', locals: {the_client: client}

  .profile-tab
    .column

    %h3.subtitle="#{client.name}"
    %p=client.decorate_preferred_contact

    .box
      %h2 Contacted client

      = simple_form_for [client, contact_note], url: advisor_client_contact_notes_path(client_id: client.id) do |form|

        = render 'shared/form_errors', object: form.object

        %fieldset
          .convert_radio.field
            =form.input :contact_method, as: :radio_buttons, collection: ContactMethodOption.all, :label => 'How did you communicate with them?', include_hidden: false

          .field
            =form.input :content, as: :text, :input_html => { :class => "textarea" }

          =form.input :client_id, as: :hidden
          =form.input :advisor_id, as: :hidden

        .control
          = form.submit I18n.t('clients.buttons.save'), :class => 'button is-primary'

    - if client.contact_notes.count > 0
      .box
        %h2 Previous contact notes
        %table.table
          %tbody
            = render partial: 'contact_note', collection: client.contact_notes

    .box
      %h2 Archive client and opt-out
      %p Use if: your client is no longer interested and doesn't want to be contacted
      =button_to I18n.t('clients.buttons.archive_client'), advisor_client_path(client), method: :delete, class: "button is-danger is-small"
