%section

  .filters
    = form_with url: advisor_course_applications_path, method: :get, skip_enforcing_utf8: true do
      %span.select
        = select_tag "course_intake_select", grouped_options_for_select(@intakes.map{ |intake| [intake["acf"]["parent_course"]["post_title"], [["#{intake["acf"]["start_date"].to_date.strftime("%b %Y")}", intake["id"]]]] }, @selected_filter_intake), onchange: 'this.form.submit();', include_blank: "All intakes"
  %br
  .head.level
    .level-left
      %h2="Course applications awaiting review"
      %span.client_total#filtered_count
        %span.bold=pluralize(@course_applications_awaiting_review.count, 'awaiting application')

  - if @course_applications.count > 0
    - if @course_applications_awaiting_review.count > 0
      %table.table
        %thead
          %tr
            %th
              Name
            %th
              Applied
            %th
              Email
            %th
              Phone
            %th
              Course
            %th
              Intake
            %th

        - @course_applications_awaiting_review.each do |course_application|
          %tr
            %td
              = "#{course_application.first_name} #{course_application.last_name}"
            %td
              = course_application.created_at.strftime("%e %B %Y")
            %td
              = course_application.email
            %td
              = course_application.phone_number
            - if intake(@intakes, course_application.intake_id).present?
              %td
                = intake(@intakes, course_application.intake_id)["acf"]["parent_course"]["post_title"]
              %td
                = intake_as_dates(@intakes, course_application.intake_id)
            - else
              %td
              %td 
                %small Intake not found
            %td
              = link_to "Review application", advisor_course_application_path(course_application), class: 'button is-primary is-small'


    - if @course_applications_reviewed.count > 0
      .head.level
        .level-left
          %h2="Reviewed applications"
          %span.client_total#filtered_count
            %span.bold=pluralize(@course_applications_reviewed.count, 'reviewed application')
      %table.table
        %thead
          %tr
            %th
              Name
            %th
              Applied
            %th
              Email
            %th
              Phone
            %th
              Course
            %th
              Intake
            %th

        - @course_applications_reviewed.each do |course_application|
          %tr{ class: course_application.status }
            %td
              = link_to "#{course_application.first_name} #{course_application.last_name}", advisor_course_application_path(course_application)
            %td
              = course_application.created_at.strftime("%e %B %Y")
            %td
              = course_application.email
            %td
              = course_application.phone_number
            - if intake(@intakes, course_application.intake_id).present?
              %td
                = intake(@intakes, course_application.intake_id)["acf"]["parent_course"]["post_title"]
              %td
                = intake_as_dates(@intakes, course_application.intake_id)
            - else
              %td
              %td 
                %small Intake not found
  - else
    %br
    %p="No applications have been made yet"
