%section
  .head.level
    .level-left
      %h2 Application
    .level-right
      = link_to "Back", advisor_course_applications_path, class: 'button pull-right top_right_button'
  %hr

  .box
    %p
      %span.bold Applicant:
      = "#{@course_application.first_name} #{@course_application.last_name}"
    %p
      %span.bold Course:
      = @course["post_title"]
    %p
      %span.bold Capacity:
      =# @intake["acf"]["total_capacity"]
    %p
      %span.bold Total applications:
      = @course_application.total_applications
    %p
      %span.bold Accepted applications:
      = @course_application.accepted_applications

  .box
    = simple_form_for @course_application, url: advisor_course_application_path, method: :put, local: true do |form|
      .convert_radio
        = form.input :status, as: :radio_buttons, label: "Were they accepted?", collection: [['Yes', 'accepted'], ['No', 'unsuccessful']]
      %br
      =# form.input :feedback, as: :text, input_html: { class: 'textarea' }
      = form.submit "Submit", :class => 'button is-primary tablet_cta'


