%section
  .head.level
    .level-left
      %h2 Application
    .level-right
      = link_to "Back", advisor_course_applications_path, class: 'button pull-right top_right_button'
  %hr

  .box
    %p
      %span.bold Applicant:
      = "#{@course_application.first_name} #{@course_application.last_name}"
    %p
      %span.bold Email:
      = @course_application.email
    %p
      %span.bold Phone number:
      = @course_application.phone_number

  .box
    %p
      %span.bold Course:
      = @course["post_title"]
    %p
      %span.bold Intake:
      = link_to "#{@intake["acf"]["start_date"]} — #{@intake["acf"]["end_date"]}", @intake["link"]

    %p
      %span.bold Total applications:
      = "#{@course_application.total_applications} / #{@intake["acf"]["total_capacity"]}"
      %meter{ value: @course_application.total_applications, 
              optimum: 0,
              low: @intake["acf"]["total_capacity"].to_i*0.66,
              high: @intake["acf"]["total_capacity"],  
              max: @intake["acf"]["total_capacity"]+ ".1"}

  .box
    - if @course_application.dismissed
      This application has been dismissed
    - else
      %p Have you processed this application? If so, click the 'dismiss' button below and it will be moved into the 'reviewed applications' section. 
      %p You will still be able to view the details if you need them again later.
      = link_to "Dismiss", advisor_course_application_dismiss_path(@course_application), method: :put, :class => "button is-primary tablet_cta #{'disabled' if @course_application.dismissed}", :data => {:confirm => 'Are you sure you want to dismiss this application?'}


