%section
  .head.level
    .level-left
      %h2 Application
    .level-right
      = link_to "Back", session[:return_to], class: 'button pull-right top_right_button'
  %hr

  .box
    %p
      %span.bold Applicant:
      = "#{@course_application.first_name} #{@course_application.last_name}"
    %p
      %span.bold Course:
      = @course["post_title"]
    %p
      %span.bold Capacity:
      = @intake["acf"]["total_capacity"]
    %p
      %span.bold Total applications:
      = @course_application.total_applications
