.full-width.hero
  .bg_img
    =image_tag('dalston-grey.jpg', class: 'parralax_me', id: 'parralax_me')
  .container.columns.main
    .column.is-one-thrid#logo
      =image_tag('hackney-works-white.svg', :alt => 'Hackney Works')
    .column.is-two-thirds
      %h1=t('hackney_works.hero.title')
      %p
        %span.bold=t('hackney_works.hero.info')
        %br
        =t('hackney_works.hero.extra')
  .lines

.container.points
  %h2
    =t('hackney_works.points.title')
  = link_to new_client_path, class: 'not_a_link' do
    .columns
      .column.point
        =fa_icon "user"
        %p=t('hackney_works.points.point_a')
      .column.point
        =fa_icon "book"
        %p=t('hackney_works.points.point_b')
      .column.point
        =fa_icon "pencil"
        %p=t('hackney_works.points.point_c')
      .column.point
        =fa_icon "newspaper-o"
        %p=t('hackney_works.points.point_d')
      .column.point
        =fa_icon "handshake-o"
        %p=t('hackney_works.points.point_e')
  = link_to I18n.t('buttons.register'), new_client_path, title: "Register for the Hackney Works service", class: 'button is-primary is-large'

#other_pages.full-width.columns
  = link_to support_path do
    .column.is-one-third
      %h2=t('hackney_works.employ_support.title')
      %p=t('hackney_works.employ_support.about')
      = link_to I18n.t('hackney_works.employ_support.button'), support_path, class: 'button'
  = link_to apprenticeships_path do
    #apprent.column.is-one-third
      %h2=t('hackney_works.apprenticeships.title')
      %p=t('hackney_works.apprenticeships.about')
      = link_to I18n.t('hackney_works.apprenticeships.button'), apprenticeships_path, class: 'button'
  = link_to hackney100_path do
    #hack100.column.is-one-third
      %h2=t('hackney_works.hack_100.title')
      %p=t('hackney_works.hack_100.about')
      = link_to I18n.t('hackney_works.hack_100.button'), hackney100_path, class: 'button'

.full-width#testimonials.hero
  .bg_img
    =image_tag('canal.jpg', class: 'parralax_me', id: 'parralax_me2')
  .container
    %h2=t('hackney_works.testimonials.title')
    .slider
      .testimonial#testimonial1.active
        .image
          =image_tag('quote1.png')
        .quote
          %p=t('hackney_works.testimonials.testimonial_a')
          %span=t('hackney_works.testimonials.testimonial_a_name')
      .testimonial#testimonial2
        .image
          =image_tag('quote2.png')
        .quote
          %p=t('hackney_works.testimonials.testimonial_b')
          %span=t('hackney_works.testimonials.testimonial_b_name')
      .testimonial#testimonial3
        .image
          =image_tag('quote3.png')
        .quote
          %p=t('hackney_works.testimonials.testimonial_c')
          %span=t('hackney_works.testimonials.testimonial_c_name')
      .slide_indicator
        .active.indicator{:data => {:number => 1}}
        .indicator{:data => {:number => 2}}
        .indicator{:data => {:number => 3}}

-if @featured_vacancies.any?
  #vacancies.container
    %h2=t('hackney_works.vacancies.title')
    =render partial: 'shared/featured_vacancies', locals: { featured_vacancies: @featured_vacancies }
    %br
    =link_to I18n.t('hackney_works.vacancies.button'), new_client_path, title: "Register for the Hackney Works service", class: 'button is-primary'

#newsletter.container
  %h2=t('hackney_works.newsletter.title')
  %p.about=t('hackney_works.newsletter.about')
  .email_subscribe
    =email_field_tag 'newsletter_email', nil, class: 'input', placeholder: 'Add email...'
    #subscribe.button=t('hackney_works.newsletter.button')
