
.full-width.hero
  .bg_img
    =image_tag('dalston-grey.jpg', class: 'parralax_me', id: 'parralax_me')

  .container.columns.main
    .column.is-one-thrid#logo
      =image_tag('hackney-works-white.svg', :alt => 'Hackney Works')
    .column.is-two-thirds
      %h1=t('hackney_works.hero.title')
      %p.bold
        =t('hackney_works.hero.info')
      %p
        =t('hackney_works.hero.extra')
  .lines

= render 'layouts/corona_notice' unless current_advisor.present?

.container.points
  %h2
    =t('hackney_works.points.title')
  = link_to new_client_path, class: 'not_a_link' do
    .columns
      .column.point
        .icon_circle
          =fa_icon "user"
        %p=t('hackney_works.points.point_a')
      .column.point
        .icon_circle
          =fa_icon "book"
        %p=t('hackney_works.points.point_b')
      .column.point
        .icon_circle
          =fa_icon "pencil"
        %p=t('hackney_works.points.point_c')
      .column.point
        .icon_circle
          =fa_icon "newspaper-o"
        %p=t('hackney_works.points.point_d')
      .column.point
        .icon_circle
          =fa_icon "handshake-o"
        %p=t('hackney_works.points.point_e')
  = link_to I18n.t('buttons.register'), new_client_path, title: "Register for the Hackney Works service", class: 'button is-primary is-large'

#featured_opps
  %h2 Our Opportunities
  %p.large
    Jobs, Apprenticeship and Work placement with Hackney council, employers & partners
    %br
    Employment & Skills training and events in Hackney

  - if @featured_opportunities.any?
    %br
    .container
      .opportunity_list.columns
        - @featured_opportunities.each do |opportunity|
          - if opportunity.specific.try(:url).present?
            = render partial: 'opportunities/unenquireable_single_opportunity', locals: { opportunity: opportunity }
          - else
            = render partial: 'opportunities/single_opportunity', locals: { opportunity: opportunity }
    %br
    %br

  =link_to "View all opportunities", opportunities_path, class: 'button is-primary'


#other_pages.full-width.columns
  = link_to "#{ENV['WORDPRESS_DOMAIN']}" do
    #learn.column.is-one-third
      %h2 Learn new skills
      %p Learning for adults is now part of Hackney Works. You can find courses and apply for them online.
      = link_to "Find a course", "#{ENV['WORDPRESS_DOMAIN']}", class: 'button'
  = link_to support_path do
    .column.is-one-third
      %h2=t('hackney_works.employ_support.title')
      %p=t('hackney_works.employ_support.about')
      = link_to I18n.t('hackney_works.employ_support.button'), support_path, class: 'button'
  = link_to apprenticeships_path do
    #apprent.column.is-one-third
      %h2=t('hackney_works.apprenticeships.title')
      %p=t('hackney_works.apprenticeships.about')
      = link_to I18n.t('hackney_works.apprenticeships.button'), apprenticeships_path, class: 'button'
  = link_to work_placements_path do
    #hack100.column.is-one-third
      %h2=t('hackney_works.hack_100.title')
      %p=t('hackney_works.hack_100.about')
      = link_to I18n.t('hackney_works.hack_100.button'), work_placements_path, class: 'button'
  
.full-width#testimonials.hero
  .bg_img
    =image_tag('canal.jpg', class: 'parralax_me', id: 'parralax_me2')
  .container
    %h2=t('hackney_works.testimonials.title')
    .slider
      .testimonial.clickable#testimonial1.active{:data => {:number => 1}}
        .image
          =image_tag('aaron-quote.png')
        .quote
          %p=t('hackney_works.testimonials.testimonial_a')
          %span=t('hackney_works.testimonials.testimonial_a_name')
      .testimonial.clickable#testimonial2{:data => {:number => 2}}
        .image
          =image_tag('lordena-quote.png')
        .quote
          %p=t('hackney_works.testimonials.testimonial_b')
          %span=t('hackney_works.testimonials.testimonial_b_name')
      .testimonial.clickable#testimonial3{:data => {:number => 3}}
        .image
          =image_tag('quote1.png')
        .quote
          %p=t('hackney_works.testimonials.testimonial_c')
          %span=t('hackney_works.testimonials.testimonial_c_name')
      .slide_indicator
        .active.indicator#indi1{:data => {:number => 1}}
        .indicator#indi2{:data => {:number => 2}}
        .indicator#indi3{:data => {:number => 3}}

%br
%br

#newsletter.container
  %h2=t('hackney_works.newsletter.title')
  %p.about=t('hackney_works.newsletter.about')
  .email_subscribe
    =email_field_tag 'newsletter_email', nil, class: 'input', placeholder: 'Add email...'
    #subscribe.button=t('hackney_works.newsletter.button')
  %br
  %p.about
    If you have any questions or you’d like to find out more, you can contact us at
    =mail_to "hackneyworks@hackney.gov.uk"
    or on
    %span.touch-to-dial 020 8356 5700.

%br
%br
.container
  .sup_page_content.max_restrict.center
    %h2 Information for Employers
    %p
      =link_to "Find out more about our services for businesses.", employers_path
