.column
  = simple_form_for [client, referrer], url: client_referrers_path do |form|
    %fieldset
      %h3.subtitle Refer someone to Hackney Works

      %p
        Please complete the details of the person you want to refer. They will
        then receive an email allowing them to create an account.

      %hr

      = render 'shared/form_errors', object: form.object

      %h3.subtitle Your Details

      = render partial: 'form_fields', locals: {form: form}

      %hr

      %h3.subtitle Client's Details

      = form.fields_for :client do |builder|
        %p
          Before referring anyone, please confirm that they have given you consent to store their data on our system, and are happy with our #{link_to("privacy policy", privacy_policy_path, target: '_blank')}.

        .inline_checkbox
          = builder.input :consent_given, as: :boolean, label: 'Client gives consent to store their data', required: true

        = render partial: 'clients/form_fields', locals: {form: builder}


        %br
        %br
        %h4.bold Supported Employment
        %p If you need support with your mental health condition or have a learning disability, please tick the box below.

        .inline_checkbox
          = builder.input :assigned_supported_employment, as: :boolean, label: "Tick here to refer the client to a Supported Employment advisor."


      = form.submit t('buttons.referral'), :class => 'button is-primary is-large is-pulled-right'
