= f.input :url, label: 'Eventbrite Url', :input_html => { :class => 'input' }
= f.input :pay, label: 'Pay', :input_html => { :class => 'input' }
= f.input :contract, label: 'Contract', :input_html => { :class => 'input' }
= f.input :sector, label: 'Sector', :input_html => { :class => 'input' }
= f.input :qualification, label: 'Qualification/Level', :input_html => { :class => 'input' }