.nav-left
  = link_to I18n.t('header.title'), user_root, class: 'nav-item is-brand bold'
%span.nav-toggle
  %span
  %span
  %span
.nav-right.nav-menu
  = link_to "My Clients", user_root, class: "nav-item is-tab #{cp(user_root)}" if current_advisor.hackney_works_team?
  = link_to "All Clients", :advisor_clients, class: "nav-item is-tab #{cp(:advisor_clients)}"
  = link_to "Vacancies", :advisor_vacancies, class: "nav-item is-tab #{cp(:advisor_vacancies)}" if current_advisor.employer_engagement?
  = link_to "Dashboard", :advisor_dashboard_index, class: "nav-item is-tab #{cp(:advisor_dashboard_index)}" if !current_advisor.employer_engagement?
  = link_to "Vacancies", :advisor_vacancies, class: "nav-item is-tab #{cp(:advisor_vacancies)}" if current_advisor.employer_engagement?
  = link_to "Manage Accounts", :advisor_advisors, class: "nav-item is-tab #{cp(:advisor_advisors)}" if current_advisor.admin?
  = button_to "Log Out", destroy_user_login_session_path, class: "nav-item is-tab", :method => :delete
