.container{:class => "site-header", :role => "banner"}
  %nav.nav
    .nav-left
      = link_to I18n.t('header.title'), user_root, class: 'nav-item is-brand bold'
    %span.nav-toggle
      %span
      %span
      %span
    .nav-right.nav-menu
      = link_to "My Cases", user_root, class: 'nav-item is-tab #{cp(user_root)}'
      %a.nav-item.is-tab All Cases
      = button_to "Log Out", destroy_user_login_session_path, class: 'nav-item is-tab', :method => :delete

= render 'layouts/alerts'
