.nav-left
  = link_to I18n.t('header.title'), root_url, class: 'nav-item is-brand bold'
%span.nav-toggle
  %span
  %span
  %span
.nav-right.nav-menu
  = link_to I18n.t('header.nav.hackney_works'), root_url, class: "nav-item is-tab #{cp(root_url)}"
  = link_to I18n.t('header.nav.hubs'), hubs_path, class: "nav-item is-tab #{cp(hubs_path)}"
  = button_to I18n.t('header.nav.sign_out'), destroy_user_login_session_path, class: "nav-item is-tab", :method => :delete

