.container{:class => "site-header", :role => "banner"}
  %nav.nav
    .nav-left
      = link_to I18n.t('header.title'), root_url, class: 'nav-item is-brand bold'
    %span.nav-toggle
      %span
      %span
      %span
    .nav-right.nav-menu
      = link_to "Home", root_url, class: "nav-item is-tab #{cp(root_url)}"
      %a.nav-item.is-tab Information
      -if cp(user_login_session_path) == "current"
        = link_to "Sign Up", confirm_eligibility_path, class: "nav-item is-tab #{cp(confirm_eligibility_path)}"
      -else
        = link_to "Log In", user_login_session_path, class: "nav-item is-tab #{cp(user_login_session_path)}"

= render "layouts/alerts"
