!!! 5
%html{:lang => "en"}
  %head
    = render 'layouts/html_head'
  %title Hackney Works
  %body{:class => (user_login_signed_in? && current_user_login.user_type == 'Advisor') ? "admin #{page_class}" : page_class}
    #main-site-wrapper
      .site-header{ :role => "banner"}
        %nav.nav.container
          = render current_header
        .lines

      = render "layouts/alerts"

      %main{:class => "main section", :id => "main", :role => "main"}
        = render 'layouts/corona_notice' unless (controller_name == 'static' || controller_name == 'application')
        .container.content.is-multiline
          = yield

    = render current_footer

  / Global site tag (gtag.js) - Google Analytics
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-138887970-1"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138887970-1');
