!!! 5
%html{:lang => "en"}
  %head
    = render 'layouts/html_head'
  %title Hackney Works
  %body{:class => (user_login_signed_in? && current_user_login.user_type == 'Advisor') ? "admin #{page_class}" : page_class}
    #main-site-wrapper
      .site-header{ :role => "banner"}
        %nav.nav.container
          = render current_header
        .lines

      = render "layouts/alerts"

      %main{:class => "main section", :id => "main", :role => "main"}
        .container.content.is-multiline
          = yield

    = render current_footer
